<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.netxforge.com/netxtest/DragonX" 
       class = "com.netxforge.netxtest.dragonX.DragonXPackage"
       genModel = "model/generated/DragonX.genmodel" /> 
	
  </extension>



</plugin>
